body{
    margin:0px;
}
.bg{
    background-color:skyblue;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.heading{
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight:bold;
    color:black;
    font-size:35px;
}

.para{
    font-family:"Roboto";
    font-size:large;
    font-weight:bold;
    color:gray;
    font-size:20px;
}

.div2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.button{
    width:150px;
    height:50px;
    border-radius:10px;
    background-color:blue;
    color:white;
    border-width:0px;
    font-size:15px;
    
}
.button2{
    width:150px;
    height:50px;
    border-radius:10px;
    background-color:blue;
    color:white;
    border-width:0px;
    font-size:15px;  
    margin-left:20px;
}

.counter{
    font-family:"Roboto";
    font-size:large;
    font-weight:bold;
    color:red;
    font-size:40px;
}