 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.bg-container{
    width:90%;
    height:250px;
    
   
}
.banner1{
   background-image:url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png");
    background-size:cover;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:20px;
    margin:15px;
    border-radius:10px;
    justify-content: center;
   
}
.banner2{
    background-image:url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png");
     background-size:cover;
     display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    margin:15px;
    border-radius:10px;
    justify-content: center;
 }
 .banner3{
    background-image:url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png");
     background-size:cover;
     display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    margin:15px;
    border-radius:10px;
    justify-content: center;
 }
.heading-styles{
    color:blue;
    font-size:20px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    
}
.para-styles{
    color:gray;
    font-size:15px;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
    
}

.button-styles{
    color:blue;
    background-color:white;
    border:2px solid blue;
    width:auto;
    height:30px;
    font-size:10px;
    border-radius:10px;
}

@media screen and (max-width:600px){
    .bg-container{
        width:90%;
        height:150px;
        
       
    }
    .banner1{
       background-image:url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png");
        background-size:cover;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        padding:10px;
        margin:8px;
        border-radius:8px;
        justify-content: center;
        margin-bottom:25px;
        
       
    }
    .banner2{
        background-image:url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png");
         background-size:cover;
         display:flex;
        flex-direction:column;
        align-items:center;
        padding:10px;
        margin:8px;
        border-radius:10px;
        justify-content: center;
        margin-bottom:25px;
        
     }
     .banner3{
        background-image:url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png");
         background-size:cover;
         display:flex;
        flex-direction:column;
        align-items:center;
        padding:10px;
        margin:8px;
        border-radius:8px;
        justify-content: center;
     }
    .heading-styles{
        color:green;
        font-size:15px;
        font-weight:bold;
        font-family: 'Montserrat', sans-serif;
        
    }
    .para-styles{
        color:black;
        font-size:10px;
        font-weight:bold;
        font-family: 'Open Sans', sans-serif;
        
    }
    
    .button-styles{
        color:rgb(26, 117, 37);
        background-color:white;
        border:2px solid rgb(167, 21, 138);
        width:auto;
        height:30px;
        font-size:8px;
        border-radius:10px;
    }
}