body{
    margin:0px;
}

.home-bg{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    background-color:#f4faff;
    width:100vw;
    height:100vh;
    padding:10px;
}

.heading{
    font-size:40px;
    color:black;
    font-weight:bolder;
    margin-top:10px;
    margin-bottom:10px;
    font-family:"Roboto";
}
.para{
    font-size:25px;
    font-family:"caveat";
    color:#64748b;
    margin-bottom:10px;
    font-weight:lighter;
}
.ul-style{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}
.list{
    list-style-type:none;
}